/* hero background image */
.bgimage {
    height:100vh;
    background: linear-gradient(rgba(204, 204, 153, 0.5),rgba(0, 0, 0, 0.333)) , url('Images/videogamedesign.jpeg');
    background-size:cover;
    position:relative;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

.imageContactPage {
    width: 100%;
}

a:link {
    color: #58422dde;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: #58422dde;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: #58422dde;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: #58422dde;
    background-color: transparent;
    text-decoration: underline;
}

h1 {
    color:#58422dde;
}

/* button stuff */
.button {
    color:rgba(20, 20, 20, 0.75);
    background-color: rgba(219, 241, 222, 0.938);
    transition-duration: 0.4s;
}
  
.button:hover {
    background-color: #42853f; /* Green */
}

/* delete this after */

.main {
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
    color: #000000;
    text-align: center;
	font-size: 4rem;
    margin-bottom: .5rem;
	width: 100%;
}

.sub-title {
    color: #000000;
    align-items: center;
    border-top: .1rem solid #000000;
    padding: 1rem 4rem;
	text-align: center;
}
